@charset "UTF-8";

html * {
	padding: 0;
	margin: 0;
}

/* General */

h1  {
	font-size: 2.5em;
	font-weight: 400;
	text-shadow: 0 0 #222325;
	color: #001A57;
	padding-left: auto;
	padding-right: auto;
}
h2 {
	font-weight: 700;
	font-size: 1.7em;
	color: #001A57;
	text-align: center;
	margin-bottom: auto;
	padding-top: 1%;
}
.row h3, .rowalternate h3 {
	font-family: Merriweather, serif;
	margin: 2%;
	font-size: x-large;
	color: #FFFFFF;
	font-weight: 425;
	text-align: center;
}

h1, h2 {
    font-family: Merriweather, serif;
    font-style: normal;
    margin-top: auto;
}

p {
	font-family: lato;
	font-style: normal;
	font-weight: 400;
	font-size: large;
	text-align: center;
	color: #800000;
	margin:0;
	padding-bottom: 20px;
}
img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
a img {
	display: inline;
}
a {
	color: #FFFFFF;
	text-decoration: none;
	padding-bottom: 0px;
    font-size: x-large;
}

.main {
    background-color: #FFFFFF; }

.index {
    margin: 0 auto;
	font-family: lato;
	font-style: normal;
	font-weight: 400;
	background-size: cover;
	background-color: #F7F5E6;
}

/* Header */

.body {
    clear: both; margin: 0 auto; text-align: center;
}

#title {
    color: #000000;
    margin: 0 auto;
	font-family: inherit;
	font-weight: bold;	
	font-size: 30px; 
}
#title:hover{
    color: #001A57;
}

#navLink ul {
    list-style: none; 
    margin: 0 auto; 
    width: auto;
}

#navLink li {
    display: inline-block;
    margin: 0;
}

#navLink a:link, a:visited {
    position: relative;
    text-decoration: none;
	text-align: center;
    display: block;
    font-weight: bold;
    width: 5em;
}

#navLink a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #FFB6C1;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#navLink a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#navLink   {
	background-color: #0F1626;
    margin: 1em auto 0em auto;
    line-height: 40px;
    padding: 0;
	width: auto;
    height: 40px;
    text-align: center;   
}

#navLink .active>a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
}

/* Body */

.contact {
	margin: auto;
	text-align: center;
	-webkit-box-shadow: 0px px;
	box-shadow: 0px px;
    padding: 15px;
}

.headshot {
	float: none;
	margin: 1% auto;
	box-shadow: 2px 2px #000000;
}
.row  {
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 25px;
	padding-bottom: 35px;
	background-color: #52658F;
}
.rowalternate, .firstrow  {
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 25px;
	padding-bottom: 35px;
}

.rowalternate {
    background-color: #52658F;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.rowtext {
	float: none;
	text-align: center;
	width: 100%;
}
.rowimage  {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rowDot {
   text-align:center;
   background-color: #52658F;
   padding-bottom: 1em;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.mySlide {
    display: none;
}

.dot {
  cursor:pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeDot, .dot:hover {
    background-color:#FFB6C1;
}
/* Footer */

footer {
	color: white;
	background-color: #0F1626;
	text-align: center;
	font-size: small;
	padding: 2%;
}

.top {
	font-size: medium;
	color:white;
}
.top:hover {
	color: #FFFFFF;
	font-style: normal;
	border-bottom:thin ridge #FFFFFF;
}
.foot {
    margin-top: 1em;
	color:white;
    font-family: Merriweather, serif;
	font-size: medium;
}

/*Tablet and Desktop View*/
@media (min-width:600px){
    #title {	
	font-size: 50px; 
    }
    #navLink a:link, a:visited {
	   text-align: center;
        display: block;
        font-weight: bold;
        width: 10em;
    }   
	body {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}
    .firstrow .rowtext{
        font-size: 1.3em;
        float: right;
        padding-top: 5%;
        margin-right: 7%;
        width: 43%;
    }
    .firstrow .rowimage{
        display: inline-block;
        margin-left: 7%;
        width: 43%;
    }
	.rowalternate .rowtext{
		float: left;
		width: 50%;
		padding-left: 4%;
        color: #0F1626;
	}
	.rowalternate .rowimage{
		width: 40%;
		display: inline-block;
		margin:0;
		padding-left: 3%;
	}
	.rowtext {
		float: right;
		width: 50%;
	}
	.rowtext h3 {
		padding-right: 4%;
		margin-top: 7%;
	}
	.rowimage  {
		width: 50%;
		display: inline-block;
		margin:0;
	}
    .rowimage .img{
        border-radius: 5%;
    }
	footer{
		margin-bottom: 1%;
	}

}
